<div class="pos_fixed">
    <a href="javascript:void(0)" onclick="window.location='addtask.htm'" class="creative_btn"><span class="icon-Add"></span></a>
</div>

<div class="header_wrapper">
    <div class="heading">
        <h2>List Page</h2>
    </div>
    <div class="nav-right right">
        <ul>
            <li><a href="javascript:void(0)"><span class="icon-Sorting"></span></a></li>
            <li class="more_menu">
                <a class="dropdown-toggle" href="javascript:void(0)" title="Filter"><span class="icon-Filter"></span></a>
                <ul class="dropdown fadeInUpShort animated">
                    <li>
                        <div class="filter_box">
                            <h4>Date Range : </h4>
                            <div class="innerbox">
                                <div class="input_fld leftside left inputicon">
                                    <span class="icon-Calendar icon"></span>
                                    <input type="text" id="Text5" class="datepicker" placeholder="From" required />
                                </div>
                                <div class="input_fld rightside left inputicon">
                                    <span class="icon-Calendar icon"></span>
                                    <input type="text" id="Text6" class="datepicker" placeholder="To" required />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h4>Category : </h4>
                            <div class="innerbox">
                                <div class="input_fld">
                                    <select name="category">
                                        <option value="category">Category</option>
                                        <option value="first">First</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Status : </h4>
                            <div class="innerbox">
                                <div class="input_fld">
                                    <select name="category">
                                        <option value="category">Status</option>
                                        <option value="first">First</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Assignee : </h4>
                            <div class="innerbox">
                                <div class="input_fld">
                                    <input type="text" id="Text1" placeholder="To" required />
                                </div>
                                <div class="form-group submit">
                                    <button type="submit" class="btn-special btn-close">Submit</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="listpage">
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status closed">Close</div></li>
                    <li><span class="icon-High icon high"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Mobile App Developer</h3>
                <div class="des">T - 05,   Henry Soaz</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status create">Create</div></li>
                    <li><span class="icon-Low icon low"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>PHP Developer</h3>
                <div class="des">T - 851,   Jannat Doe</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status ready">Ready</div></li>
                    <li><span class="icon-Medium icon medium"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status new">New</div></li>
                    <li><span class="icon-Low icon low"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status closed">Close</div></li>
                    <li><span class="icon-Medium icon medium"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status closed">Close</div></li>
                    <li><span class="icon-High icon high"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status closed">Close</div></li>
                    <li><span class="icon-High icon high"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">T - 001,   Jack Porter</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status closed">Close</div></li>
                    <li><span class="icon-High icon high"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Mobile App Developer</h3>
                <div class="des">T - 05,   Henry Soaz</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status create">Create</div></li>
                    <li><span class="icon-Low icon low"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>PHP Developer</h3>
                <div class="des">T - 851,   Jannat Doe</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status ready">Ready</div></li>
                    <li><span class="icon-Medium icon medium"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Mobile App Developer</h3>
                <div class="des">T - 05,   Henry Soaz</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status create">Create</div></li>
                    <li><span class="icon-Low icon low"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>PHP Developer</h3>
                <div class="des">T - 851,   Jannat Doe</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status ready">Ready</div></li>
                    <li><span class="icon-Medium icon medium"></span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="details left">
                <span class="date">
                    <span class="icon-Calendar"></span>
                    Decemober 22, 2018
                </span>
                <span class="time">
                    <span class="icon-Time"></span>
                    4:30PM
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="editbox">
            <span class="icon-ico_edit3 icon"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>