<div class="pos_fixed">
    <a href="javascript:void(0)" onclick="window.location='addtask.htm'" class="creative_btn"><span class="icon-Add"></span></a>
</div>

<div class="header_wrapper">
    <div class="heading">
        <h2>Task-T001</h2>
    </div>
    <div class="nav-right right">
        <ul>
            <li>
                <a href="javascript:void(0)" onclick="window.location='list-page.htm'" class="close_btn">Close</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="listpage viewticket">
    <div class="block">
        <div class="head">
            <div class="icon left">
                <div class="usericon">
                    <span class="icon-User"></span>
                </div>
            </div>
            <div class="header left">
                <h3>Graphic Design Applications</h3>
                <div class="des">Jack Porter,Task</div>
                <div class="post">Involver - @Admin, IT, Accounting, @Name</div>
            </div>
            <div class="action right">
                <ul>
                    <li><div class="status">Close</div></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, </p>

            <p>when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like </p>

            <p>Aldus PageMaker including versions of Lorem Ipsum.
            Typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like <br />

            Aldus PageMaker including versions of Lorem Ipsum.</p>
            <div class="comment_box history_box">
                <div class="comment_collpase">
                    <a href="javascript:void(0)">History</a>
                </div>
                <div class="comment_display marg0">
                    <div class="comment_view">
                        <div class="comment_icon left">
                            <span class="icon-User"></span>
                        </div>
                        <div class="comment_text left">
                            <h4>Jack Porter</h4>
                            <div class="details">
                                <span class="date">
                                    <span class="icon-Calendar"></span>
                                    Decemober 22, 2018
                                </span>
                                <span class="time">
                                    <span class="icon-Time"></span>
                                    4:30PM
                                </span>
                            </div>
                            <p>Comment Added </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="comment_view">
                        <div class="comment_icon left">
                            <span class="icon-User"></span>
                        </div>
                        <div class="comment_text left">
                            <h4>Henry Soaz</h4>
                            <div class="details">
                                <span class="date">
                                    <span class="icon-Calendar"></span>
                                    Decemober 22, 2018
                                </span>
                                <span class="time">
                                    <span class="icon-Time"></span>
                                    4:30PM
                                </span>
                            </div>
                            <p>Status Change High - Medium - Low </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="comment_view">
                        <div class="comment_icon left">
                            <span class="icon-User"></span>
                        </div>
                        <div class="comment_text left">
                            <h4>Jannet Doe</h4>
                            <div class="details">
                                <span class="date">
                                    <span class="icon-Calendar"></span>
                                    Decemober 22, 2018
                                </span>
                                <span class="time">
                                    <span class="icon-Time"></span>
                                    4:30PM
                                </span>
                            </div>
                            <p>Comment Added </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="comment_view">
                        <div class="comment_icon left">
                            <span class="icon-User"></span>
                        </div>
                        <div class="comment_text left">
                            <h4>Toya Miass</h4>
                            <div class="details">
                                <span class="date">
                                    <span class="icon-Calendar"></span>
                                    Decemober 22, 2018
                                </span>
                                <span class="time">
                                    <span class="icon-Time"></span>
                                    4:30PM
                                </span>
                            </div>
                            <p>Status Change High - Medium - Low </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="readmore right">
                <a href="#">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>