<nav class="navbar">

    <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>

    <div class="navbar-right-wrapper-btn">
        <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggle-right"
                data-target="#navigation" data-toggle="collapse" type="button">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
    </div>

    <div class="navbar-right-wrapper">
        <div class="input-group no-border">
            <input class="form-control" placeholder="Search..." type="text" value="">
            <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
            </div>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn-magnify">
                    <i class="nc-icon nc-layout-11"></i>
                </a>
            </li>
            <li class="nav-item btn-rotate dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="nc-icon nc-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-rotate">
                    <i class="nc-icon nc-settings-gear-65"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
 
    <div class="clearfix"></div>

</nav>